doctype html
html(ng-app='mean')
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/firebase/firebase.js')
    script(src='/bower_components/angularfire/dist/angularfire.min.js')
    script(src='/javascripts/app.js')
  body
    block content